/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *, *:before, *:after {
   box-sizing: border-box;
 }
@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");
body{
  background-color: #FFFEFF;
}
a:hover {
  background-color: transparent;
}

.wrapper{
  margin: auto;
}

.main-content {
  /*max-width: 1024px;
  min-width: 760px;*/
  /*margin-left: 70px; */
  /*overflow: hidden;*/
  position: relative;
  overflow: hidden;
  /*left:65px;*/
  /*margin: auto;
  padding: 25px;*/
  /*background-color: yellow;*/
}

/*  GROUPING   ============================================================================= */

.group:before,
.group:after{
  content: "";
  display:table;
}

.group:after{
  clear: both;
}
/*  GRID OF THREE   ============================================================================= */

.span_3_3 {
	width: 100%;
}

.span_2_3 {
	width: 66.13%;
}

.span_1_3 {
	width: 32.26%;
}

/*  NAVIGATION   ============================================================================= */

.top-nav{
  height: 50px;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: #DFE7ED;
  color: #ffffff;
}
.top-nav a:hover{
  color: #243a47;
  text-decoration: underline;
}
.nav-ul{
  list-style: none;
  float: right;
  padding-right: 45px;
}

.nav-ul li{
  display: inline-block;

}

.nav-ul li a{
  color: #272B37;
  text-decoration: none;
  padding: 0 20px;
  border-right: solid 1px #272B37;
}

.nav-ul li:last-child a{
  border-right: 0px;
}

 .sidenav, .sidenav-bar {
   height: 100%;
   top: 0;
   left: 0;
   background: #272B37;
   z-index: 1000;
   width: 50px;
   position: fixed;
   overflow: hidden;
   display: block;
   margin: 0;
   padding: 0;
   list-style-type: none;
   transition: width ease .5s;
 }

 .sidenav li{
   border-bottom: 1px solid #243a47;
 }

 .sidenav li a{
   display: block;
   height: 5em;
   width: 5em;
   text-indent: 10em;
   line-height: 5em;
   text-align: center;
   vertical-align: middle;
   color: #22B58B;
   background-color: #272B37;
   position: relative;
   transition: background 0.1s ease-in-out;
 }

 .sidenav li a:before{
  font-family: FontAwesome;
  text-indent: 0em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
 }

 .sidenav li a:hover{
   color: #59d6cd;

 }

 .sidenav li a {
    color:#22B58B;
    text-decoration:none;
       line-height: 2em;
    transition:
      color ease .35s,
}
.sidenav li a:hover {
    color:#59d6cd;
}
.sidenav li a.open {
     font-size:1.75rem;
     font-weight:700;
     border:0;
   }
 }

 .sidenav li a.user-icon:before{
   content: "\f007";
 }

 .sidenav li a.google-plus:before{
   content: "\f0d5";
 }

 .sidenav li a.youtube:before{
   content: "\f16a";
 }

 .sidenav li a.twitter:before{
   content: "\f099";
 }

 .sidenav li a.facebook:before{
   content: "\f09a";
 }

 .sidenav li a.instagram:before{
   content: "\f16d";
 }

.open{
  width: 20em;
  height: 100%;
}

/* NOTIFICATIONS  ============================================================================= */

/*.notifications {
  position: relative;
}*/
#notice, #alert{
  width: 100%;
  text-align: center;
  margin-top: 0;
  display: none;
  /*padding: 8px 0 0 85px;*/

  /*position: absolute;*/
}

#alert{
  background-color: #EF6F6C;
  color: #ffffff;
  bottom: 22px;
}

#notice{
  background-color: #8AEA92;
  color: #ffffff;
}
/* CONTAINERS AND SECTIONS  ============================================================================= */
.container{
  left:65px;
  margin: auto;
  padding: 25px;
}
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */

.group:before,
.group:after {
    content:"";
    display:table;
}
.group:after {
    clear:both;
}
.group {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}

.col:first-child { margin-left: 0; } /* all browsers except IE6 and lower */


/*  GRID OF TWO   ============================================================================= */

.span_2_2 {
	width: 100%;
}

.span_1_2 {
	width: 49.2%;
}
