/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css");
body{
  background-color: #f4fffd;
}
 .sidenav, .sidenav-bar {
   height: 100%;
   top: 0;
   left: 0;
   background: #2f4858;
   z-index: 10;
   width: 5em;
   position: fixed;
   overflow: hidden;
   /*display: block;*/
   margin: 0;
   padding: 0;
   list-style-type: none;
 }

 .sidenav li a{
   display: block;
   height: 5em;
   width: 5em;
   text-indent: 50em;
   line-height: 5em;
   text-align: center;
   color: #22B58B;
   background-color: #2f4858;
   position: relative;
   border-bottom: 1px solid #243a47;
   transition: background 0.1s ease-in-out;
 }

 .sidenav li a:before{
  font-family: FontAwesome;
  text-indent: 0em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
 }

 .sidenav li a:hover{
   color: #59d6cd;

 }

 .sidenav li a.user-icon:before{
   content: "\f007";
 }

 .sidenav li a.google-plus:before{
   content: "\f0d5";
 }

 .sidenav li a.youtube:before{
   content: "\f16a";
 }

 .sidenav li a.twitter:before{
   content: "\f099";
 }

 .sidenav li a.facebook:before{
   content: "\f09a";
 }

 .sidenav li a.instagram:before{
   content: "\f16d";
 }

.sidenav-bar{
  overflow: hidden;
  left: 5em;
  z-index: 5;
  width: 0;
  height: 0;
  transition: all 0.1s ease-in-out;
}

.sidenav-bar li a{
  display: block;
  height: 5em;
  line-height: 5em;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  position: relative;
  border-bottom: 1px solid #355163;
  transition: background 0.1s ease-in-out;
  font-family: Arial, sans-serif;
  color: #325575;
}


.open{
  width: 10em;
  height: 100%;
}
body {
  margin-left: 120px;
}
