*,
*:before,
*:after {
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

/*  HERO IMG   ======================================================================== */

.hero-banner {
  position: relative;
  background-image: url(landing-pg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 520px;
  overflow: hidden;
  margin-bottom: 80px;
}

.hero-img{
  width:100%;
  overflow: hidden;
}
.logo-banner{
  position: absolute;
  height: 220px;
  width: auto;
  bottom: 50%;
  left: 40%;
  z-index: 5;
  opacity: 0.6;

}

/*  BUTTON   ============================================================================= */

.signup-btn,
.login-btn {
  text-decoration: none;
  font-size: 1.2em;
  display: block;
  padding: 10px 30px;
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 8px;
  border: 2px solid #DFE7ED;
  position: absolute;
  z-index: 5;
  top: 62%;
  left: 40%;
  color: #fff;
}

.signup-btn {
  margin-left: 180px;
}

.signup-btn:hover,
.login-btn:hover {
  background-color: rgba(170, 244, 241, 0.73);
}

/*  MAIN BODY ===================================================================== */
.info{
  text-align: center;
}

.info h3 {
  color: #33867E;
  font-size: 2em;
  letter-spacing: 0.1em;
  margin: 20px, 0;
}

.icon-list{
  list-style: none;
  color: #7a7d7d;
}

.icon-list li {
  display: inline-block;
}

.icon-list i {
  color: #7A7D7D;
  font-size: 2.6em;
  padding-right: 20px;
}

/*  LOGIN FORM   ===================================================================== */
.modal-login {
    display: none;
    position: fixed;
    overflow: auto;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(30,30,30,0.8);
}
.close {
    display: block;
    border: none;
    outline: none;
    width: 1em;
    height: 1em;
    font: 1.5em Arial;
    background-color: #bc2a39;
    color: #e7c0b9;
    border-radius: 0.5em;
    line-height: 0;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
}

.login-form {
  position:relative;
  background: #2f4858;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  list-style: none;
  box-sizing: border-box;
  display: block;
  overflow: hidden;

}

.greeting {
  text-align: center;
  color: #ffffff;
  margin: 0 0 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

label {
  position: absolute;
  transform: translateY(13px);
  left: 15px;
  color: rgba(255, 255, 255, 0.63);
  transition: all 0.25s ease-in-out;
  font-size: 22px;
  pointer-events: none;
}

.req {
  margin: 2px;
  color: #990029;
}

label.highlight {
  color: #ffffff;
}

label.active {
  transform: translateY(-15px);
  left: 15px;
  font-size: 14px;
  background-color: #2f4858;
  padding: 0 7px;
  letter-spacing: 0.2em;
}

input, textarea {
  font-size: 13px;
  font-weight: normal;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 40px 0;
  border: 1px solid #94a6ab;
  color: #ffffff;
  background: none;
  transition: border-color .25s ease;
}

input:not([type='submit']):focus {
  outline: 0;
  border-color: #92b5bf;
}

.field {
  position: relative;
  margin-bottom: 40px;
}

input[type='submit'] {
  border: 0;
  outline: none;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: .1em;
  background: #33867e;
  color: #ffffff;
  transition: all 0.5s ease;
  border: none;
  margin-top: 35px;
}

input[type='submit']:hover {
  background: #266c66;
}
