*, *:before, *:after {
  box-sizing: border-box;
}

/*  HERO IMG   ======================================================================== */
img {
  max-width:100%;
  overflow: hidden;
}
.hero-banner{
  position: relative;
  /*background: url(assets/hero-img.jpg) no-repeat center center fixed;*/
  width: 100%;
  height: 520px;
  overflow: hidden;
}

/*  BUTTON   ============================================================================= */

.signup-btn, .login-btn{
  font-size: 1.5em;
  display: block;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.33);
  border-radius: 8px;
  border: 2px solid #DFE7ED;
  position: absolute;
  z-index: 10;
  top: 60%;
  left: 35%;
  color: #fff;
}

.signup-btn{
  margin-left: 130px;
}

.signup-btn:hover, .login-btn:hover{
  background-color: rgba(170, 244, 241, 0.73);
}

/*  LOGIN FORM   ===================================================================== */
.login-form {
  position:relative;
  left: 45px;
  background: #2f4858;
  padding: 40px;
  max-width: 600px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
  list-style: none;
  box-sizing: border-box;
  display: block;
  overflow: hidden;

}

.greeting{
  text-align: center;
  color: #ffffff;
  margin: 0 0 20px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

label{
  position: absolute;
  transform: translateY(13px);
  left: 15px;
  color: rgba(255, 255, 255, 0.63);
  transition: all 0.25s ease-in-out;
  font-size: 22px;
  pointer-events: none;
}

.req{
  margin: 2px;
  color: #990029;
}

label.highlight{
  color: #ffffff;
}

label.active{
  transform: translateY(-15px);
  left: 15px;
  font-size: 14px;
  background-color: #2f4858;
  padding: 0 7px;
  letter-spacing: 0.2em;
}

input, textarea {
  font-size: 13px;
  font-weight: normal;
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 40px 0;
  border: 1px solid #94a6ab;
  color: #ffffff;
  background: none;
  transition: border-color .25s ease;
}

input:not([type='submit']):focus {
  outline: 0;
  border-color: #92b5bf;
}

.field {
  position: relative;
  margin-bottom: 40px;
}

input[type='submit']{
  border: 0;
  outline: none;
  padding: 20px 0;
  text-transform: uppercase;
  font-size: 1.6em;
  letter-spacing: .1em;
  background: #33867e;
  color: #ffffff;
  transition: all 0.5s ease;
  border: none;
  margin-top: 35px;
}

input[type='submit']:hover{
  background: #266c66;
}
