<div class="container">
<div class="hero-banner">
  <img src="assets/hero-img.jpg" alt="banner" />
  <button type="button" name="sign-up" class="signup-btn">Sign-Up</button>
  <button type="button" name="login" class="login-btn">Login</button>
</div>
</div>
