<h1>Login</h1>

<%= render 'form' %>
<!-- Shari modified link_to user_sessions_path  to users_path-->
<!-- link was going back to user session and raised an error page -->
<%= link_to 'Back', users_path %>
